<div class="row container">
    <div class="col-12 col-sm-12 col-md-5 col-lg-4 center-div">
        <div>
            <h2 class="title">
                <span class="pi pi-clipboard fs-3"></span>
                TaskBuddy
            </h2>
        </div>
        <div>
            <p class="description">Streamline your workflow and track progress effortlessly with our all-in-one task management app.</p>
        </div>
        <p-button (click)="signin()" class="loginButton" icon="pi pi-google" label="Continue with Google" severity="contrast" />
    </div>
</div>